<div class= "container">
    <div class= "row">
     <div class="offset3 span6">
        <h1>Prepare for Liftoff</h1>
      </div>
    </div>
    <br />

    <div class= "row">
      <div class="offset3 span6">
        <%= render 'form' %>

        <%= link_to 'Back', apps_path %>

      </div>
    </div>
</div>
