// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	.span12 h1 {
		line-height: 90px;
		font-size: 75px;
	}

	.container2 {
		background-image:url('/assets/kindajean.png');
		height:600px;
	}

	.span12 .table {
		margin-top:1.5%;
		margin-left: 18%;
		border-radius: 12px;
	}

