// Place all the styles related to the Apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	body {
	}

	.span8 h1 {
		line-height: 70px;
		font-size: 65px;
	}

	.span4 .btn {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.container2 {
		min-height: 100%;
		padding-bottom: 50px;
		margin: 0 auto -30px;
		background:url('/assets/kindajean.png');
		background-repeat: repeat;
		overflow-y: hidden ! important;
    overflow-x: hidden ! important;
		// -webkit-background-size:contain;
		// -moz-background-size:contain;
		// background-size:contain;
		margin-top: 40px;
	}

	.span12 .table {
		margin-top: 3%;
		margin-left: 17.5%;
		padding-bottom: 20px;
	}

	.table table {
		margin-left: auto;
		margin-right: auto;
		margin-bottom:40px;
	}

.table th, .table td {
  max-width: 500px;
  word-wrap: break-word;
  font-family: sans-serif;
}

.table tr:first-child {
	background-color: #00BEFF;
	color: white;
	border-radius: 10px;
}

.table tr {
	background-color: white;
}

.footer {
	clear: both;
	width:100%;
	position: fixed;
	bottom: 0;
	background:#2C2C2C;
	height:30px;
}

.footer p {
	padding: 5px;
	text-align:center;
	color:#767676;
	font-family: sans-serif;
	font-style: bold;
}